---
import { getCollection } from 'astro:content';

const bioEntries = await getCollection('bio');
const bioEs = bioEntries.find(e => e.data.lang === 'es')?.data;
const bioEn = bioEntries.find(e => e.data.lang === 'en')?.data;
---
<div class="divider reveal">
  <div class="divider-line"></div>
  <span class="divider-glyph">&#9833;</span>
  <div class="divider-line"></div>
</div>

<section id="intro">
  <blockquote class="intro-quote reveal">
    <span class="lang-es">{bioEs?.quote}</span>
    <span class="lang-en">{bioEn?.quote}</span>
  </blockquote>
  <div class="intro-columns">
    <div class="intro-left">
      <p class="intro-text reveal">
        <span class="lang-es">{bioEs?.p1}</span>
        <span class="lang-en">{bioEn?.p1}</span>
      </p>
      <p class="intro-text reveal">
        <span class="lang-es">{bioEs?.p2}</span>
        <span class="lang-en">{bioEn?.p2}</span>
      </p>
      <p class="intro-text reveal">
        <span class="lang-es">{bioEs?.p3}</span>
        <span class="lang-en">{bioEn?.p3}</span>
      </p>
    </div>
    <div class="intro-photo reveal">
      <img src={bioEs?.photo} alt="Danitza Villarroel Orrego - Mi historia" />
    </div>
  </div>
</section>
